@media screen and (max-width:480px) {
    nav{
      font-size: 0.7rem;
      display: flex;
      min-height:fit-content ;
      height: 10vh;
      
  }
  .mobile__toggle_off{
      width: 30%;
      display: block;
      margin-left: 10px;
  }
  

.mobile__toggle_on{
  position: absolute;
  top:20vw;
  left: 0px;
  display: none;
  background-color: #ffffff;
  flex-direction:column;
  width: 60vw;
  height: 50vh;
  /* height: fit-content; */
  border-radius: 0px;
  z-index: 2000;
  padding-bottom: 20px;
  box-shadow: 0px 0px 6px 3px black;
  animation: mobile 0.6s ease-out 1 forwards;

}
@keyframes mobile {
  from {left:-50%};
  to {left: 0;}
}
.vertical__box{
  width: inherit;
  height: 20%;
  border-bottom:1px dotted black;
  display: flex;
  align-items: center;
   
}

.vertical__box > a{
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 1rem;  
  margin:5px 10px;
}
  .logo{
      margin: 0px;
  }
  .logo>img{
      margin-left: 0px;

      width:80%;
  }
  .list__items{
      display: none;
  }
  .contact__icons{
      display: none;

  }



.container_ {
    height: auto;
    width: inherit;
}


/* container css */


/* heading css */

.heading {
    position: relative;
    width: inherit;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: teal;
    background: url(../photos/abt_us_bg.jpg);
    background-size: 100% 100%;
    /* box-shadow: 0px 5px 7px 2px black; */
}

.heading_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    filter: blur(10px);
}

.heading>h1 {
    color: #fff;
    font-size: 2.5rem;
    z-index: 1;
}


/*  heading css*/


/* content section css*/

.content_section {
    background-color: rgb(248, 248, 248);
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content_col1 {
    /* display: relative; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: inherit;
    /* background-color: lawngreen; */
}

.content_col1_box {
    position: relative;
    /* background-color: teal; */
    height: auto;
    width: auto;
    margin: 10px 15px 10px 10px;
    animation: to_right 2s forwards;
}

.content_col2 {
    /* display: relative; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: inherit;
    /* background-color: indigo; */
}

.content_col2_box {
    position: relative;
    /* background-color: tomato; */
    height: auto;
    width: auto;
    /* margin: 70px 70px 70px 35px; */
    margin: 10px 15px 10px 10px;

    animation: to_left 2s forwards;
}

.content_section>div>div>p {
    font-size: 1rem;
}


/* content section css*/


/* cards section */

.cards_section {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: #f6c046;
    padding: 50px 0px;
    /* background-color: #fff; */
}

.cards_container {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 98%;
    min-height: fit-content;
    /* min-height: 80%; */
    background: #fff;
    margin:20px 5px;
    box-shadow: 0px 0px 8px 5px black;
}

.cards>img {
    margin: 20px;
}

.cards>h2 {
    text-align: center;
}

.cards>p {
    margin: 10px 30px 30px 30px;
    font-size: 1rem;
}


/* cards section */


/* company details */

.company_details {
    min-height: auto;
    height: fit-content;
    width: inherit;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #fff;
}

.company_details_heading {
    text-align: center;
    height: 20%;
}

.company_details_heading>h4 {
    font-size: 3rem;
    margin: 30px 0px 0px 0px;
}

.details_div {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 30px 0px 50px 0px;
}

.details {
    min-height: fit-content;
    height: 100%;
    width: 90%;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
    box-shadow: 0px 0px 5px 2px black;
}

.information {
    min-height: fit-content;
    height: 100%;
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    /* background-color: tomato; */
    padding: 10px 0px;
}

.svg_img {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
    min-height: fit-content;
    height: 100%;
    text-align: center;
}

.svg_border {
    height: 70px;
    width: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}

svg {
    height: 40px;
    width: 40px;
    /* padding: px; */
    fill: #f0c40d;
    /* border: 1px solid black; */
}

.info {
    width: 70%;
    height: fit-content;
    display: block;
    margin: auto;
}

.info>p {
    /* text-align: center; */
    margin: auto;
    font-size: 0.9rem;
}


/* company details */

/* footer */
.form{
    display: grid;
    gap:5px 10px;
    grid-template-columns: 1fr 1fr ;
}
.footer{
    width: inherit;
    height: fit-content;
    padding:20px 0px 0 0;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: #2e2e2e;
    color: #fff;
} 

#name{
    grid-column:1/ span 2;

}
#telephone{
    grid-column:1/ span 2;

}


.footer_one{
    display: grid;
    grid-template-columns:1fr;
    width:90%;
    margin: 20px auto;
    gap:0px 5vw;

}
.footer_two{
    display: flex;
    flex-direction: column;
    width: inherit;
    height: fit-content;
    justify-content: space-evenly;    
}
.footer_content{
    font-size: 0.8rem;
    display: block;
    width: 100%;
    text-align: center;
}
.footer_logo{
    display: flex;
    justify-content: center;
}
.footer_logo>img{
    margin:0 auto;
}



/* animation */

@keyframes to_right {
    0% {
        left: -1000px;
    }
    100% {
        left: 0px
    }
}

@keyframes to_left {
    0% {
        left: 1000px;
    }
    100% {
        left: 0px;
    }
}
}