@media screen and (max-width:480px) {
    nav{
        font-size: 0.7rem;
        display: flex;
        min-height:fit-content ;
        height: 10vh;
        
    }
    .mobile__toggle_off{
        width: 30%;
        display: block;
        margin-left: 10px;
    }
    

.mobile__toggle_on{
    position: absolute;
    top:20vw;
    left: 0px;
    display: none;
    background-color: #ffffff;
    flex-direction:column;
    width: 100vw;
    height: fit-content;
    /* height: fit-content; */
    border-radius: 0px;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 3px black;
    animation: mobile 0.6s ease-out 1 forwards;
    

}

/* heree is new */
#vDropOn{
    position: absolute;
    top:20vw;
    left: 0px;
    display: none;
    background-color: #ffffff;
    flex-direction:column;
    width: 100vw;
    height: fit-content;
    /* height: fit-content; */
    border-radius: 0px;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 3px black;
    animation: mobile 0.6s ease-out 1 forwards;
    

}
#vertical_product{
    /* text-decoration: none; */
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;  
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 7vh;
}

#vDropOn>.vertical__box{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    display: block;  
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 9px;
}
/*  */

@keyframes mobile {
    from {left:-50%};
    to {left: 0;}
}
.vertical__box{
    width: inherit;
    height:fit-content;
    padding: 5px;
    /* border-bottom:1px solid black; */
    display: flex;
    /* align-items: center; */
    margin: auto;
}
.vertical__box:nth-child(even){
    box-shadow: 0px 0px 6px 3px black;
}

.vertical__box>a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;  
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 6vh;
}
    .logo{
        margin: 0px;
    }
    .logo>img{
        margin-left: 0px;

        width:80%;
    }
    .list__items{
        display: none;
    }
    .contact__icons{
        display: none;

    }

    /* navbar ends */
    /* main image */
    .heading{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100vw;
        position: relative;
        background-color: rgba(0, 15, 39, 0.2);
       
    }
    .heading::before{
        content: "";
        position: absolute;
        background: url("https://raw.githubusercontent.com/procrasticoder/moonextech/main/photos/contact.jpg");
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
        filter: blur(1.5px);
        z-index: -1;
    }
    .heading>h1{
        font-size: 2.8rem;
        color: white;
    }
    
/* card */
.container{
    height: 100%;
}

.box{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 50px 0px;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px black;
    background: linear-gradient(90deg, white 90%, #f0c40d 20%);
    /* background: linear-gradient(0deg, white 90%, #f0c40d 20%); */

    /* background: maroon; */

}

.contact_card{
width: 95%;
height: fit-content;
margin: 40px auto;
display: flex;
padding:10px 20px;
justify-content: center;
align-items: center;
flex-direction: column;
/* background-color: tomato; */
background-color: rgb(0, 0, 0 );
box-shadow: 0px 0px 6px 3px black;

color: #fff;
}

.contact_card>div>span{
    font-size: 1.4rem;
    color: #f0c53b;
}

/*.contact_card>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30%;
}
.contact_card>div>p{
    color: #fff;
    margin: auto;
}
.contact_card>div>span{
    margin: auto;
} */


.map{
width: 100%;
height: 40vh;
margin: 40px 0px 40px 0px;
display: flex;
justify-content: center;
align-items: center;
}
iframe{
    box-shadow: 0px 0px 6px 3px black;

    height: 90%;
    width: 90%;
}

/* footer */
.form{
    display: grid;
    gap:5px 10px;
    grid-template-columns: 1fr 1fr ;
}
.footer{
    width: inherit;
    height: fit-content;
    padding:20px 0px 0 0;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: #2e2e2e;
    color: #fff;
} 

#name{
    grid-column:1/ span 2;

}
#telephone{
    grid-column:1/ span 2;

}


.footer_one{
    display: grid;
    grid-template-columns:1fr;
    width:90%;
    margin: 20px auto;
    gap:0px 5vw;

}
.footer_two{
    display: flex;
    flex-direction: column;
    width: inherit;
    height: fit-content;
    justify-content: space-evenly;    
}
.footer_content{
    font-size: 0.8rem;
    display: block;
    width: 100%;
    text-align: center;
}
.footer_logo{
    display: flex;
    justify-content: center;
}
.footer_logo>img{
    margin:0 auto;
}

}