
/* navbar css */
nav{
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: #fff; 
    padding: 5px 0; 
    z-index: 1000;
    height: fit-content;
    padding: 8px 0px;
    box-shadow: 0px 2px 6px 3px black;
}

.mobile__toggle_off{
    display: none;
    margin-left: 10px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.mobile__toggle_on{
    position: absolute;
    top:70px;
    left: 0px;
    display: none;
    background-color: #DCDCDC;
    flex-direction:column;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    

}
.vertical__box{
    width: inherit;
    height: 25%;
    display: flex;
    align-items: center;
     
}
.vertical__box:hover{
    transition: transform 0.4s ease-in;
    transform: scale(1.02);
    background-color: #9c9c9c;
    
}
.vertical__box > a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;  
    margin:5px 10px;
}
.logo > img{
    margin-left: 20px;
    object-fit: contain;
}

/* when screen size reduces .list__items will disappear */
.list__items{
    width:45vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-block-end: 0px;
}
.list__items > li{
    list-style: none;
    width: fit-content;
    padding: 0px 5px;
}
.list__items>li:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}
.list__items > li> a{
    text-decoration: none;
    color: black;
    font-size: 1.0rem;
}

.contact__icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 1.3rem;
    min-width: 130px;
    margin: 0 20px;
}
.icons__hover{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.icons__hover:hover{
   color: white;
    background-color: #000;
    border-radius: 50%;
    outline: solid transparent 1px;
}

/* navbar css */

/* main image */
body{
    overflow-x: hidden;
}
#main_image{
    position: relative;
    width: 100vw;
    height: 15vw;
    margin-bottom: 50px;
    
}
#main_image>img{
    width: inherit;
    height: inherit;
    
}
.heading{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}
.heading>h1{
    display: block;
    font-size: 2.8rem;
    color: white;
}
.blkscrn{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(38, 38, 36, 0.55);
    filter: blur(2px);
    width: inherit;
    height: inherit;
    z-index: 1;
}
/* main image */


/* enquiry */
#enquiry_page{
    display: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    /* background-color:rgb(246,192, 70); */
    
    align-items: center;
    padding: 50px 50px;
}
.enquiry_container{
    display: grid;
    gap:0px 50px;
    background-color:rgb(246,192, 70);
    padding: 20px 20px;
    grid-template-columns: 3fr 2fr;
    width: 90vw;
    box-shadow: 2px 2px 6px 3px black;

}
#left{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 6px 3px black;

}
#title{
    font-size: 2rem;
}
#img{
    width: 40%;
    height: 40%;
    margin: auto 5px;
    box-shadow: 0px 0px 5px 1px black;

}
.table{
    width: 80%;
    margin: auto;
}
#right{
    width: 100%;
    height: 100%;
}
#form{
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#quantity{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 12px 2px 12px 10px;
    border-radius: 3px;
    margin:5px 0px;
    box-shadow: 0px 0px 5px 1px black;

    
}
#quantity>input{
    height: 100%;
    width: 100%;
    border: 0px;
    
}
#quantity>input:focus{
    outline: none;
    border: 0px;
}

#form >input{
    border: 0px;
    width: 80%;
    height: 8%;
    margin:10px 0px;
    padding: 20px 2px 20px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px black;
}
#textarea{
    border: 0px;
    margin:auto 0px;
    width: 80%;
    padding: 10px 2px 10px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px black;

}
textarea:focus{
    outline: 1px solid black;
    /* border: 1px solid black; */
}
.btn{
    margin: auto 0px;
    width: 30%;
    box-shadow: 0px 0px 5px 1px black;

}
select {
    background-color: white;
    border: none;
    width: fit-content;
    height: 100%;
}
select:focus{
    border: 0px;
    outline: none;
    
}
input:focus{
    outline: 1px solid black;

}




/* 
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
#form {
    display: grid;
    margin:0px 0px 5px 0px;
    gap: 5px 0px;
    height: 50%;
    margin: auto;
    align-items: center;
    grid-template-columns: 1fr 4fr;
}
#form>div{
    font-size: 0.9rem;
}
textarea{
   height: 25%;
   margin: 5px;
} */

/* rukooo */

/* #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    width: 90%;
    justify-content: space-between;
    display: flex;
    font-size: 0.9rem;
}
textarea{
    width: 90%;
} */


/* enquiry */
