@media screen and (max-width:480px)
 {
    
    nav{
        font-size: 0.7rem;
        display: flex;
        min-height:fit-content ;
        height: 10vh;
        
    }
    .mobile__toggle_off{
        width: 30%;
        display: block;
        margin-left: 10px;
    }
    

.mobile__toggle_on{
    position: absolute;
    top:20vw;
    left: 0px;
    display: none;
    background-color: #ffffff;
    flex-direction:column;
    width: 100vw;
    height: fit-content;
    /* height: fit-content; */
    border-radius: 0px;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 3px black;
    animation: mobile 0.6s ease-out 1 forwards;
    

}

/* heree is new */
#vDropOn{
    position: absolute;
    top:20vw;
    left: 0px;
    display: none;
    background-color: #ffffff;
    flex-direction:column;
    width: 100vw;
    height: fit-content;
    /* height: fit-content; */
    border-radius: 0px;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 3px black;
    animation: mobile 0.6s ease-out 1 forwards;
    

}
#vertical_product{
    /* text-decoration: none; */
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;  
    
    height: fit-content;
    text-align: center;
    padding: 1vh;
    margin:10px 0px;
    border-bottom: 1px solid black;
    
    width: 90%;
}

#vDropOn>.vertical__box{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    display: block;  
    width: 100%;
    border-bottom: 1px solid black;
    height: fit-content;
    text-align: center;
    padding: 6px;
}

/*  */

@keyframes mobile {
    from {left:-50%};
    to {left: 0;}
}
.vertical__box{
    width: inherit;
    height:fit-content;
    padding: 5px;
    /* border-bottom:1px solid black; */
    display: flex;
    /* align-items: center; */
    margin: auto;
}


.vertical__box>a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;  
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 1vh;
    border-bottom:1px solid black;
}
    .logo{
        margin: 0px;
    }
    .logo>img{
        margin-left: 0px;

        width:80%;
    }
    .list__items{
        display: none;
    }
    .contact__icons{
        display: none;

    }
        /* navbar ends */
        /* main image */
body{
    overflow-x: hidden;
}
#main_image{
    position: relative;
    width: 100vw;
    height: 30vh;
    margin-bottom: 50px;
    
}
#main_image>img{
    width: inherit;
    height: inherit;
    
}
.heading{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}
.heading>h1{
    display: block;
    font-size: 2.8rem;
    color: white;
}
.blkscrn{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(38, 38, 36, 0.55);
    filter: blur(2px);
    width: inherit;
    height: inherit;
    z-index: 1;
}
/* main image */

        /* enquiry */
#enquiry_page{
    display: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    /* background-color:rgb(246,192, 70); */
    
    align-items: center;
    padding: 20px 10px;
}
.enquiry_container{
    display: grid;
    gap:0px 50px;
    background-color: rgb(54 54 54);
    padding: 20px 20px;
    grid-template-columns: 1fr;
    width: 90vw;
    box-shadow: 2px 2px 6px 3px black;

}
#left{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px 3px black;

}
#title{
    font-size: 2rem;
}
#img{
    width: 100%;
    height: 100%;
    margin: 20px 0px;
    box-shadow: 0px 0px 5px 1px black;

}
.table{
    width: 100%;
    margin: 10px auto;
}
#right{
    width: 100%;
    height: 100%;
}
#form{
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#quantity{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 2px 12px 10px;
    border-radius: 3px;
    margin:10px 0px;
    height: 12%;
    box-shadow: 0px 0px 5px 1px black;

    
}
#quantity>input{
    height: 100%;
    width: 100%;
    border: 0px;
    
}
#quantity>input:focus{
    outline: none;
    border: 0px;
}

#form >input{
    border: 0px;
    width: 100%;
    height: 12%;
    margin:10px 0px;
    padding: 20px 2px 20px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px black;
}
#textarea{
    border: 0px;
    margin:10px 0px;
    width: 100%;
    padding: 10px 2px 10px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px black;

}
textarea:focus{
    outline: 1px solid black;
    /* border: 1px solid black; */
}
.btn{
    margin: auto 0px;
    width: 30%;
    box-shadow: 0px 0px 5px 1px black;
    /* background-color: rgb(255, 255, 13); */

}
select {
    background-color: white;
    border: none;
    width: fit-content;
    height: 100%;
}
select:focus{
    border: 0px;
    outline: none;
    
}
input:focus{
    outline: 1px solid black;

}



/* footer */


        /* footer start */
        .fform{
            display: grid;
            gap:5px 10px;
            grid-template-columns: 1fr 1fr ;
        }
        .ffooter{
            width: inherit;
            height: fit-content;
            padding:20px 0px 0 0;
            display: flex;
            margin-top: 20px;
            flex-direction: column;
            background-color: #2e2e2e;
            color: #fff;
        } 
        
        
        .ffooter_one{
            display: grid;
            grid-template-columns:1fr;
            width:90%;
            margin: 20px auto;
            gap:0px 5vw;
        
        }
        .ffooter_two{
            display: flex;
            flex-direction: column;
            width: inherit;
            height: fit-content;
            justify-content: space-evenly;    
        }
        .ffooter_content{
            font-size: 0.8rem;
            display: block;
            width: 100%;
            text-align: center;
        }
        .ffooter_logo{
            display: flex;
            justify-content: center;
        }
        .ffooter_logo>img{
            margin:0 auto;
        }
        
    
}