@media screen and (max-width:480px) {
    
    
    nav{
        font-size: 0.7rem;
        display: flex;
        min-height:fit-content ;
        height: 10vh;
        
    }
    .mobile__toggle_off{
        width: 30%;
        display: block;
        margin-left: 10px;
    }
    

.mobile__toggle_on{
    position: absolute;
    top:20vw;
    left: 0px;
    display: none;
    background-color: #ffffff;
    flex-direction:column;
    width: 60vw;
    height: 50vh;
    /* height: fit-content; */
    border-radius: 0px;
    z-index: 2000;
    padding-bottom: 20px;
    box-shadow: 0px 0px 6px 3px black;
    animation: mobile 0.6s ease-out 1 forwards;

}
@keyframes mobile {
    from {left:-50%};
    to {left: 0;}
}
.vertical__box{
    width: inherit;
    height: 20%;
    border-bottom:1px dotted black;
    display: flex;
    align-items: center;
     
}

.vertical__box > a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1rem;  
    margin:5px 10px;
}
    .logo{
        margin: 0px;
    }
    .logo>img{
        margin-left: 0px;

        width:80%;
    }
    .list__items{
        display: none;
    }
    .contact__icons{
        display: none;

    }

    /* navbar ends */
    .primary{
        background-color: #f6c046;    
        width:inherit;
        height: 80vw;
        display: flex;
        /* flex-direction: column; */
    }
    
    .primary__content{
        width: 50%;
        display: flex;
        flex-direction: column;
        color: #fff;
        z-index: 1;
        margin: auto;
        justify-content: center;
        padding-left: 10px;
    }
    .typewriter .fl{
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .05em solid #3a3e39; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 5px; /* Adjust as needed */
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 80% }
      }
    
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #3a3e39; }
      }
    .primary__content>span{
        margin-left: 0px;
    }
    .primary__content>span:nth-child(1){
        margin-top: 0px;
    }
    
    .primary__gallery{
        width: 40%;
        height:50%; 
        margin: auto;
        border-radius: 5px;
    }
    
    .primary__gallery > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    /* slideshow  start*/

    .slide_show{
        width: 90vw;
        height: 30vh;
        margin: 50px auto;
        display: flex;
        }
    
    .frame{
        /* height: 500px; */
        height: 100%;
        width: 300px;
        /* border: 1px solid black; */
        display: block;
        margin: auto;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 6px 3px black;
    
    }
    .slides{
    position: absolute;
    top: 0;
    left: 0;
    /* height: 500px; */
    height: 100%;
    width: 300px;
    display: none;
    }
    
    /* slide animation */
    @keyframes coming{
        0% {left: 300px;}
        100%{left: 0px;}
    }
    @keyframes going {
        0% {left: 0px;}
        100%{left: -300px;}
    }
    /*  slide animation*/
    .slides>img{
    /* height: 500px; */
    width: 300px;
    height: 100%;
    }
    .img_desc{
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: fit-content;
        text-align: center;
        font-size: 1rem;
        padding:10px 0px;
        color: white;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.308);
        /* background-color: brown; */
    }
    
    .slideLeft{
        display: grid;
        grid-template-columns: 1fr;
        width: 300px;
        display: none;
        
    }
    .slideRight{
        display: grid;
        grid-template-columns: 1fr;
        width: 300px ;
        display: none;
         
    }
      
    
    
    
    
/* product */
.product {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: inherit;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 10px 0px 30px 0;
    background-color: #f3f3f3;
}

.product>h1 {
    display: block;
    font-size: 1.5rem;
    margin-top: 20px;
    color: #3a3e39;
    line-height: 0.7;
}
.product_card_container {
    max-width: 98vw;
    width: inherit;
    display: grid;
    margin: auto;
    height: fit-content;
    grid-template-columns: 1fr ;
}
.product_card {
    margin: 10px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: 0px 0px 4px 2px black;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    height: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    position: relative;
    overflow:hidden ;
}
.image_holder{
    overflow:hidden ;
    /* min-height: fit-content; */
    height:80%;
}
.image_holder>img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    /* overflow: hidden; */
    /* min-height: 350px; */
    outline: 1px solid black;
}
/* msg section */
.msg{
    width: 100%;
    height: 80vh;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("../photos/b2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.black_bg{
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px);
    background-color: rgba(14, 13, 13, 0.3);
    
    z-index: 1;
    height: inherit;
    width: inherit;
}

.msg_content{
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: white;
    z-index: 2;
}

.msg_content>h1{
    font-size: 1.5rem;
    display: block;
    width: 80%;
    margin:auto;
    margin-block-start: 0;
    margin-block-end: 0;
}
.msg_content>h3{
    font-size: 1rem;
}


 
/* client */

.clients{
    width: inherit;
    height: fit-content;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clients>div>h1{
    display: block;
    font-size: 2.4rem;
    margin-top: 20px;
    width: fit-content;
    color: #3a3e39;
    line-height: 30px;
    
}

.client__container{
    display: grid;
    margin-top: 10px;
    gap: 20px 5px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}
.client>img{
    width: 25vw;
    object-fit: contain;

}
.client{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer */
.form{
    display: grid;
    gap:5px 10px;
    grid-template-columns: 1fr 1fr ;
}
.footer{
    width: inherit;
    height: fit-content;
    padding:20px 0px 0 0;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: #2e2e2e;
    color: #fff;
} 

#name{
    grid-column:1/ span 2;

}
#telephone{
    grid-column:1/ span 2;

}


.footer_one{
    display: grid;
    grid-template-columns:1fr;
    width:90%;
    margin: 20px auto;
    gap:0px 5vw;

}
.footer_two{
    display: flex;
    flex-direction: column;
    width: inherit;
    height: fit-content;
    justify-content: space-evenly;    
}
.footer_content{
    font-size: 0.8rem;
    display: block;
    width: 100%;
    text-align: center;
}
.footer_logo{
    display: flex;
    justify-content: center;
}
.footer_logo>img{
    margin:0 auto;
}



   /* utility */
     
   .fs{
    font-size: 1.2rem;
    text-shadow: 5px 3px 4px black;

}
.fms{
    font-size: 1.2rem;
}
.fm{
    font-size: 2rem;
    text-shadow: 5px 3px 4px black;
}
.fl{
    line-height:40px;
    font-size: 2.5rem;
    text-shadow: 5px 3px 4px black;
}
.underline {
    display: block;
    width: 100%;
    line-height: -80px;
    height: 2px;
    margin-bottom: 20px;
    background-color: #3a3e39;
}
.footerline{
    display: block;
    width: 70vw;
    line-height: -80px;
    height: 2px;
    margin: 20px 0px;
    background-color: #ffffff;
}

}
