@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    cursor: default;

}
body{
overflow-x: hidden;
}

/* navbar css */
/* phone toggle */
#vDropOn{
    display: none;
}
nav{
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: #fff; 
    padding: 5px 0; 
    z-index: 1000;
    height: fit-content;
    padding: 8px 0px;
    box-shadow: 0px 2px 6px 3px black;
}

.mobile__toggle_off{
    display: none;
    margin-left: 10px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.mobile__toggle_on{
    position: absolute;
    top:70px;
    left: 0px;
    display: none;
    background-color: #DCDCDC;
    flex-direction:column;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    

}
.vertical__box{
    width: inherit;
    height: 25%;
    display: flex;
    align-items: center;
     
}
.vertical__box:hover{
    transition: transform 0.4s ease-in;
    transform: scale(1.02);
    background-color: #9c9c9c;
    
}
.vertical__box > a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;  
    margin:5px 10px;
}
.logo > img{
    margin-left: 20px;
    object-fit: contain;
}

/* when screen size reduces .list__items will disappear */
.list__items{
    width:40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-block-end: 0px;

}
.list__items > li{
    list-style: none;
    width: fit-content;
    height: 65px;
    display: flex;
    align-items: center;
    /* background-color: teal; */
    
}
.list__items>li>a:hover{
    background-color: #f6c046;
    color: black;
    border-radius: 20px;
    

}
.list__items > li> a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 7px 10px;

}
/* dropdown */
#product_dropdown{
    position: relative;
    /* background-color: tomato; */
}
#product_dropdown:hover #dropDown{
    display: flex;
}
#dropDown{
    display: none;
    position: absolute;
    min-width: fit-content;
    width: 20vw;
    /* padding: 10px; */
    padding-left: 0px;
    padding-right: 0px;
    padding-inline-start: 0px;
    z-index: 1001;
    left: 0;
    top: 65px;;
    border: 1px solid black;
    background-color: white;
    /* display: flex; */
    list-style: none;
    flex-direction: column;
    box-shadow: 0px 0px 6px 2px black;
    overflow-y: scroll;
    max-height: 65vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#dropDown::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

#dropDown>div{
    width: inherit;
    height: fit-content;
    padding:1rem 0px 0.5rem 1rem;
    font-size:0.9rem;
    cursor: default;
}
#dropDown>div:hover{
    box-shadow: 0px 0px 6px 3px black;
}
#dropDown>div>a{
    text-decoration: none;
    color: black;
}

/* dropdown */


.contact_notification{
    position: absolute;
    height: 35px;
    width: 100vw;
    top: 60px;
    right: -20px;
    z-index: 0;
    display: none;

    /* border: 1px solid black; */
}
.contact_notification>p{
    display: block;
    height: fit-content;
    /* background-color: black; */
    font-size: 1rem;
    margin: auto;
}


.contact__icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 1.3rem;
    min-width: 130px;
    margin: 0 20px;
    position: relative;
}
.icons__hover{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
}
.icons__hover:hover + .contact_notification{
    animation: zoom_out 0.2s 1 linear forwards;
    background: #000;
    box-shadow: 0px 0px 6px 2px black;
    color: white;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    
}
@keyframes zoom_out{
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.icons__hover:hover{
   color: white;
    background-color: #000;
    border-radius: 50%;
    outline: solid transparent 1px;
}


/* navbar css */


/* main image */

#main_image{
    position: relative;
    width: 100vw;
    height: 15vw;
    margin-bottom: 50px;
}
#main_image>img{
    width: inherit;
    height: inherit;
}
.heading{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}
.heading>h1{
    display: block;
    font-size: 2.8rem;
    color: white;
}
.blkscrn{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(38, 38, 36, 0.55);
    filter: blur(2px);
    width: inherit;
    height: inherit;
    z-index: 1;
}
/* main image */

/* product section css*/

.head>p{
    display: block;
    width: 90%;
    margin: 23px auto;
    font-size: 1.1rem;
}
.products{
    width: inherit;
    height: auto;
}

.product_name{
    width: fit-content;
    margin-top: 30px;
    margin-left: 5vw;
    color: #333333;
}

.product_desc>p{
    width: 90%;
    display: block;
    margin: 30px auto;
}
.product_gallery{
    display: grid;
    width: 80vw;
    margin: auto;
    height: fit-content;
    padding: 10px 0px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: tomato; */

}
.product{
    width: fit-content;
    width: 100%;
    height: 100%;
    /* height: 20vw; */
    min-height: fit-content;
    margin: 5px;
    box-shadow: 0px 0px 6px 3px black;
    position: relative;
    /* background-color: teal; */
}
 
.product>img{
    display: block;
    width:90%;
    margin: 10px auto ;
    height: 35vh;
    box-shadow: 0px 0px 3px 1px black;
}
.desc{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding:5px 10px;
    background-color: rgba(29, 26, 26, 0.692);
    color: white;    
    height: 100%;
    overflow-y: hidden;
    animation: zoom_in 0.2s linear forwards;
}
.desc__btn{
    width: fit-content;
    height: fit-content;
    padding: 5px 5px;
    outline: hidden;
    border:0px;
    margin: auto;
    align-self:center;
    background-color: rgb(235, 230, 230);
    border-radius: 3px;
}
.onlyDescription{
    font-size: 0.5rem;
    color:white;
}
.desc>p{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.desc__btn:hover{
    background-color: rgb(83, 80, 80);
    cursor: pointer;
    color: white;
}

.product:hover .desc{
    visibility: visible;
    animation: zoom_out 0.3s ease-out forwards;
    opacity: 1;
}
.product:hover img{
    filter: blur(3px);
}
.product:hover h4{
    filter: blur(3px);
    
}

.product>h4{    
    font-size: 1rem;
    margin-top: 5px;
    text-align: center;
    padding: 2px;
}

/* product section css */
/* footer */
.footer{
    width: inherit;
    height: fit-content;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    background-color: #2e2e2e;
    color: #fff;
}
.footer_one{
    display: grid;
    grid-template-columns:2fr 1fr 2fr;
    width:90%;
    margin: 20px auto;
    gap:0px 5vw;

}
.footer_one>div{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.footer span{
    margin:5px 0px;
    width: 100%;
}

.q_contact>span>i{
    margin: 0px 10px;
}
#span3{
    display: flex;
}
.q_links>a{
    margin:5px 0px;
    width: 100%;
    text-decoration: none;
    color: white;
}
.q_links>a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.form{
    width: 100%;
    display: grid;
    gap:5px 10px;
    grid-template-columns: 1fr 1fr;
}
.form input,textarea{
    padding: 5px;
    width: 100%;
}
textarea,input:focus{
    outline: none;
    
}
#email{
    grid-column:1/ span 2;

}
#textarea{
    grid-column:1/ span 2;
}
.btn{
    grid-column:1/ span 2;

}
.footer_two{
    display: flex;
    width: inherit;
    height: fit-content;
    padding: 20px;
    /* margin:20px; */
    background-color: #1d1c1c;
    justify-content: space-evenly;    
}


.footer_logo>img{
    margin:0 30px;
}

/* footer */


/* popup */
#pop_up{
    width: 80vw; 
    height: 70vh;
    box-shadow: 0px 0px 7px 4px black;
    position: absolute;
    z-index: 1002;
    background-color: rgb(255, 255, 255);
    display: none;
    border: 1px solid black;   
    overflow-y: scroll;
    animation: zoom_out 0.4s ease-in 1 forwards;
   
}

.pop_upLeft{
    display: flex;
    min-height: fit-content;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
#pop_upImage{
    overflow:hidden;
    display: block;
    height: 50%;
    width: 30vw;
    margin: auto;
    object-fit: contain;
    box-shadow: 0px 0px 6px 3px black;
}
.btn{
    margin: auto;
    width: fit-content;
    padding: 10px 20px;

}
.pop_upRight{
    display: flex;
    width: 50vw;
    min-height: fit-content;
    height: 80%;
    margin: auto;
    flex-direction: column;
}
#product_title{
    font-size: 1.5rem;
}

/* pop up */

/* animation */
@keyframes zoom_out{
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
@keyframes zoom_in{
    0% {
        transform: scale(1);
    }
    100%{
    visibility: hidden;
    transform: scale(0);
    }
}

@media screen and (max-width:1200px) {
    
    .product_gallery{
        display: grid;
        width: 80vw;
        margin: auto;
        height: fit-content;
        padding: 10px 0px;
        gap: 20px;
        grid-template-columns: 1fr 1fr ;
    
    }
    
    /* product section css */
    
    
    
    
    
    /* .desc{
        font-size: 1rem;
    } 
    .product_gallery{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-content: center;
        align-items: center;
    }
    .product{
        width:30vw;
        margin: auto;

    }
    .product>img{
        width:30vw;
        height: 100%;
        
    }
    .product_name{
        width: fit-content;
        margin-left: 10vw;
    } */
}
/* utility */

.fs{
    font-size: 1.2rem;
}
.sleekline{
        display: block;
        width: 80vw;
        margin: 30px auto;
        line-height:-80px;
        height: 2px;
        margin-bottom: 30px;
        /* background-color: #3a3e39; */
        background-color: #f0c40d;
}
/* pop up */
body{
    overflow-y: scroll;

}
#bars{
    display: flex;
    color:black;
}
#wheel{
    display: none;
    color: black;
}


@media screen and (min-width:480px) and (max-width:1024px) {
    body{
        overflow-x: hidden;
    }
    #main_image {
        position: relative;
        width: 100vw;
        height: 25vh;
        margin-bottom: 50px;
    }
    nav{
        position: sticky;
        left: 0;
        top: 0;
        display: flex;
        width: inherit;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff; 
        padding: 5px 0; 
        z-index: 1000;
        height: fit-content;
        padding: 8px 0px;
        box-shadow: 0px 2px 6px 3px black;
    }
    
    .mobile__toggle_off{
        display: none;
        margin-left: 10px;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .mobile__toggle_on{
        position: absolute;
        top:70px;
        left: 0px;
        display: none;
        background-color: #DCDCDC;
        flex-direction:column;
        width: 300px;
        height: 300px;
        border-radius: 7px;
        
    
    }
    .vertical__box{
        width: inherit;
        height: 25%;
        display: flex;
        align-items: center;
         
    }
    .vertical__box:hover{
        transition: transform 0.4s ease-in;
        transform: scale(1.02);
        background-color: #9c9c9c;
        
    }
    .vertical__box > a{
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        color: black;
        font-weight: bold;
        font-size: 1.4rem;  
        margin:5px 10px;
    }
    .logo > img{
        margin-left: 20px;
        object-fit: contain;
    }
    
    /* when screen size reduces .list__items will disappear */
    .list__items{
        width:80vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-block-end: 0px;
    
    }
    .list__items > li{
        list-style: none;
        width: fit-content;
        height: 65px;
        display: flex;
        align-items: center;
        /* background-color: teal; */
        
    }
    .list__items>li>a:hover{
        background-color: #f6c046;
        color: black;
        border-radius: 20px;
        
    
    }
    .list__items > li> a{
        text-decoration: none;
        color: black;
        font-size: 1.0rem;
        padding: 7px 10px;
    
    }
    /* dropdown */
    #product_dropdown{
        position: relative;
        /* background-color: tomato; */
    }
    #product_dropdown:hover #dropDown{
        display: flex;
    }
    #dropDown{
        display: none;
        position: absolute;
        min-width: fit-content;
        width: 40vw;
        /* padding: 10px; */
        padding-left: 0px;
        padding-right: 0px;
        padding-inline-start: 0px;
        z-index: 1001;
        left: 0;
        top: 65px;;
        border: 1px solid black;
        background-color: white;
        /* display: flex; */
        list-style: none;
        flex-direction: column;
        box-shadow: 0px 0px 6px 2px black;
        overflow-y: scroll;
        max-height: 65vh;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    #dropDown::-webkit-scrollbar{
        width: 0;
        background: transparent;
    }
    
    #dropDown>div{
        width: inherit;
        height: fit-content;
        padding:1rem 0px 0.5rem 1rem;
        font-size:0.9rem;
        cursor: default;
    }
    #dropDown>div:hover{
        box-shadow: 0px 0px 6px 3px black;
    }
    #dropDown>div>a{
        text-decoration: none;
        color: black;
    }
    .logo{
    box-shadow: 0px 0px 6px 3px black;
    padding: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    }
    /* dropdown */
    
    
    .contact_notification{
        position: absolute;
        height: 35px;
        width: 100vw;
        top: 60px;
        right: -20px;
        z-index: 0;
        display: none;
    
        /* border: 1px solid black; */
    }
    .contact_notification>p{
        display: block;
        height: fit-content;
        /* background-color: black; */
        font-size: 1rem;
        margin: auto;
    }
    
    
    .contact__icons{
        display: none;
        align-items: center;
        justify-content: space-between;
        color: black;
        font-size: 1.3rem;
        min-width: 130px;
        margin: 0 20px;
        position: relative;
    }
    .icons__hover{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        position: relative;
    }
    .icons__hover:hover + .contact_notification{
        animation: zoom_out 0.2s 1 linear forwards;
        background: #000;
        box-shadow: 0px 0px 6px 2px black;
        color: white;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        
    }
    @keyframes zoom_out{
        0% {transform: scale(0);}
        100% {transform: scale(1);}
    }
    
    .icons__hover:hover{
       color: white;
        background-color: #000;
        border-radius: 50%;
        outline: solid transparent 1px;
    }
    
    /* nav */

    .product_gallery {
        display: grid;
        width: 95vw;
        margin: auto;
        height: fit-content;
        padding: 10px 0px;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    /* popup */
    #pop_up {
        width: 80vw;
        height: 70vh;
        flex-direction: column;
        box-shadow: 0px 0px 7px 4px black;
        position: absolute;
        z-index: 1002;
        background-color: rgb(255, 255, 255);
        display: none;
        border: 1px solid black;
        overflow-y: scroll;
        animation: zoom_out 0.4s ease-in 1 forwards;
    }
    #pop_upImage {
        overflow: hidden;
        display: block;
        height: 50%;
        width: 65vw;
        margin: auto;
        object-fit: contain;
        box-shadow: 0px 0px 6px 3px black;
    }
    
}