@media screen and (max-width:480px){
    nav{
        font-size: 0.7rem;
        display: flex;
        min-height:fit-content ;
        height: 10vh;
        
    }
    .mobile__toggle_off{
        width: 30%;
        display: block;
        margin-left: 10px;
    }
    

.mobile__toggle_on{
    position: absolute;
    top:20vw;
    left: 0px;
    display: none;
    background-color: #ffffff;
    flex-direction:column;
    width: 60vw;
    height: 50vh;
    /* height: fit-content; */
    border-radius: 0px;
    z-index: 2000;
    padding-bottom: 20px;
    box-shadow: 0px 0px 6px 3px black;
    animation: mobile 0.6s ease-out 1 forwards;

}
@keyframes mobile {
    from {left:-50%};
    to {left: 0;}
}
.vertical__box{
    width: inherit;
    height: 20%;
    border-bottom:1px dotted black;
    display: flex;
    align-items: center;
     
}

.vertical__box > a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1rem;  
    margin:5px 10px;
}
    .logo{
        margin: 0px;
    }
    .logo>img{
        margin-left: 0px;

        width:80%;
    }
    .list__items{
        display: none;
    }
    .contact__icons{
        display: none;

    }

    /* navbar ends */

    /* main image */

#main_image{
    position: relative;
    width: 100vw;
    height: 30vh;
    margin-bottom: 50px;
}
#main_image>img{
    width: inherit;
    height: inherit;
}
.heading{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}
.heading>h1{
    display: block;
    font-size: 2.8rem;
    color: white;
}
.blkscrn{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(38, 38, 36, 0.55);
    filter: blur(2px);
    width: inherit;
    height: inherit;
    z-index: 1;
}
/* main image */
    /* product gallery */
    .product_gallery{
        display: grid;
        width: 80vw;
        margin: auto;
        height: fit-content;
        padding: 10px 0px;
        gap: 20px;
        grid-template-columns: 1fr ;
        /* background-color: tomato; */
    
    }
    /* product gallery */
/* popup */
#pop_up{
    width: 80vw; 
    height: 70vh;
    box-shadow: 0px 0px 7px 4px black;
    position: absolute;
    z-index: 1002;
    background-color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    border: 1px solid black;   
    animation: zoom_out 0.4s ease-in 1 forwards;
}
.pop_upLeft{
    display: flex;
    min-height: 50vh;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#pop_upImage{
    overflow:hidden;
    display: block;
    height: 50%;
    width: 100%;
    margin: auto;
    object-fit: contain;
    box-shadow: 0px 0px 6px 3px black;
}

.pop_upRight{
    display: flex;
    width: 80vw;
    min-height: fit-content;
    height: 80%;
    margin: auto;
    padding-bottom:20px;
    flex-direction: column;
}
#product_title{
    font-size: 1.5rem;
}


  /* footer */
.form{
    display: grid;
    gap:5px 10px;
    grid-template-columns: 1fr 1fr ;
}
.footer{
    width: inherit;
    height: fit-content;
    padding:20px 0px 0 0;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: #2e2e2e;
    color: #fff;
} 

#name{
    grid-column:1/ span 2;

}
#telephone{
    grid-column:1/ span 2;

}


.footer_one{
    display: grid;
    grid-template-columns:1fr;
    width:90%;
    margin: 20px auto;
    gap:0px 5vw;

}
.footer_two{
    display: flex;
    flex-direction: column;
    width: inherit;
    height: fit-content;
    justify-content: space-evenly;    
}
.footer_content{
    font-size: 0.8rem;
    display: block;
    width: 100%;
    text-align: center;
}
.footer_logo{
    display: flex;
    justify-content: center;
}
.footer_logo>img{
    margin:0 auto;
}

}